#facebox {
	h2 {
		font-size: 1.5em;
		margin: 0 0 0.25em 0;
	}
}

.your-basket {
	border: 1px solid #ccc;
	margin: 1em;
	padding: 1em;
	h2 {
		font-size: 1.5em;
		margin: 0 0 0.25em 0;
	}
}

table.basket {
	font-size: 1.2em;
	width: 100%;
	th, td {
		padding: 0.5em;
	}
	thead {
		background-color: lighten(#000, 70%);
		color: #fff;
		th {
			text-align: right;
			&:first-child {
				text-align: left;
			}
		}
	}
	tbody {
	    tr:nth-child(even) {
			background: #eee;
	    }
		td {
			text-align: right;
			&:first-child {
				text-align: left;
			}
		}
	}
	tfoot {
		border-color: #ccc;
		border-style: solid;
		border-width: 1px 0 0 0;
		font-weight: bold;
		td {
			text-align: right;
		}
		th {
			text-align: left;
		}
	}
}

form.clear-basket {
	text-align: right;
	
	button {
		border: 1px solid #CCCCCC;
		padding: 0.4em 0.2em 0.2em;
	}
}

p.basket-empty {
	font-size: 1.2em;
	font-style: italic;
}