@large-image-size: 300px;
@small-image-size: 115px;

em {
	font-style: italic;
}

#album {
    border: 1px solid #ccc;
	margin: 1em;
	padding: 1em;
	overflow: hidden;

	hgroup {
	    h1 {
	    	font-size: 2em;
	    }
	 	h2 {
			color: lighten(#333, 20%);
	 		font-size: 1.5em;
			font-style: italic;
	 	}
	}

	img {
	    float: left;
	    margin: 0 1em 1em 0;
	}

	ol.tracks {
	    font-size: 1.1em;
		list-style-position: inside;
		margin: 0.5em 0 0 0;
	}

	form.rating {
		clear: both;
		width: @large-image-size;

		legend {
		    float: left;
			line-height: 1.2em;
			margin: 0 0.5em 0 0;
		}

		label {
		    font-size: 1.2em;
			line-height: 1.2em;
			margin: 0 0 0 0.5em;
			.num {
				vertical-align: middle;
			}
			input {
			    margin: 0 0 0 0.5em;
				vertical-align: middle;
			}
		}
	}
}

#related {
    border: 1px solid #ccc;
	clear: both;
	margin: 0 1em 1em 1em;
	padding: 1em;
	overflow: hidden;

	header h1 {
		font-size: 1.3em;
		margin: 0 0 0.5em 0;
	}

	ul {
	    margin: 0;
		overflow: hidden;

		li {
			float: left;
			list-style-type: none;
			margin: 0 2em 0 0;
			width: @small-image-size;

			h1 {
				font-size: 1.1em;
			}
			h2 {
				color: lighten(#333, 20%);
				font-style: italic;
			}
		}
	}

	img {
		width: @small-image-size;
		height: @small-image-size;
	}
}

#average-rating {
	clear: both;
	margin: 0.5em 0 0 0;

	.star-rating {
		opacity: 0.5;
	}		
}

#your-rating {
	margin: 0.5em 0 0 0;
}

.star-rating {
	display: inline-block;
	vertical-align: middle;
	.star {
		background-image: url(../images/forms/stars.png);
		background-position: 0 0;
		background-repeat: no-repeat;
		display: inline-block;
		vertical-align: middle;
		text-indent: -9999px;
		width: 22px;
		height: 22px;
		&.on {
			background-position: 0 -22px;
		}
	}
	a.star.hovered {
		background-position: 0 -44px;
	}
}

.message {
	color: #0d5995;
	display: inline-block;
	margin: 0 0 0 0.5em;
	vertical-align: middle;
}