@container-width: 85%;
@color: #444;
@border-color: lighten(@color, 50%);
@base-font-size: 20px;
@header-font-size: @base-font-size * 1.5;
@gutter: 10px;

fieldset.poll {
	border: 1px solid @border-color;
	color: @color;
	margin: @gutter auto;
	width: @container-width;
	
	legend {
		font-size: @header-font-size;
		margin-left: @gutter;
		padding: @gutter;
	}
	
	li {
		font-size: @base-font-size;
		line-height: @base-font-size;
		list-style-type: none;
		margin-bottom: @gutter;
	
		label {
		}
	
		input[type=radio] {
			margin-right: @gutter;
			vertical-align: middle;
		}
	}
	
	button {
		display: block;
		font-size: @header-font-size;
		margin: 0 auto;
		padding: @gutter;
	}
}

table.poll-results {
	border: 1px solid @border-color;
	margin: @gutter auto;
	width: @container-width;

	caption {
		font-size: @header-font-size;
		margin-left: @gutter;
		padding: @gutter;
	}
	
	th, td {
		font-size: @base-font-size;
		padding: @gutter;
		text-align: left;
		
	}

	td.votes {
		text-align: right;
	}
}